$font-primary:"Poppins", sans-serif;

$color-purple:#6648c2;
$color-purple-light:#866ce1;
$color-purple-super-light:#ddd5ef;

$color-grey-dark:#898989;
$color-grey:#b7b7b7;
$color-grey-text:#707070;
$color-grey-light:#e1e1e1;

$color-green-strong:#2ed573;
$color-green:#30e581;
$color-green-light:#d2f7e1;
$color-green-super-light:#d4fae5;

$color-blue:#3769e6;
$color-blue-super-light:#dbe5fe;

$color-red: #ff1b43;
$color-red-super-light: #fad5d9;